@page
@model TaxCalc.Pages.CalculatedTaxList.CalculateTaxModel

<br/>
<h2 class="text-info">Calculate Tax</h2>
<br />

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="" text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CalculatedTax.PostalCode"></label>
            </div>
            <div class="col-6">
                <input asp-for="CalculatedTax.PostalCode" class="form-control" />
            </div>
            <span asp-validation-for="CalculatedTax.PostalCode" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CalculatedTax.AnnualIncome"></label>
            </div>
            <div class="col-6">
                <input asp-for="CalculatedTax.AnnualIncome" class="form-control" />
            </div>
            <span asp-validation-for="CalculatedTax.AnnualIncome" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-3 offset-2">
                <input type="submit" value="Submit" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back</a>
            </div>

        </div>
    </form>

</div>
<!-- Enable Validation on Server side and Client side -->
@section Scripts{ 
<partial name="_ValidationScriptsPartial"/>
}